/* ----- index page ----- */
.main {
    & > section {
        padding-top: 6rem; 
        padding-bottom: 6rem;
    }
}

.hidden { display: none; }   

.error { color: red; }

.required { background-color: pink; }

textarea {
    width: 100%;
    resize: none;
}

.section-about {
    
    & h2 {
        text-align: center;
    }
    
    & .about {
        margin: 0 25rem;
        
        &__text {
           font-size: $default-font-size; 
        }
        
    }
}

.section-process {
    background-color: $color-grey-light-1;

    & h2 {
        text-align: center;
    }
    
    & .process {
        margin: 0 15rem;
        
        &__box {
            display: flex;
            justify-content: space-around;
        }
    }
    
    & .step {
        width: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;        
        
        &__icon {
            font-size: 5rem;
            color: $color-primary;
            margin-bottom: 3rem;
            padding: 1rem;
            background-color: rgba($color-secondary, 1);
            border-radius: 50%;            
        }
        
        &__text {
            margin-top: 2rem;
            font-size: $default-font-size;
        }
    }
}

.section-team {
    h2 {
        text-align: center;
    }
    
    & .team {
        margin: 0 15rem;
    }
    
    & .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__picture {
            margin: 2rem 0;
            width: 25rem;
        }
        
        &__text {
            text-align: center;
            font-size: $default-font-size;
            width: 500px;
            
        }
    }
}

/* ----- tasting notes page ----- */

.section-notes {
    background-color: $color-grey-light-1;
    
    & h2 {
        text-align: center;
    }
    
    & .notes {
        margin: 0 15rem;
        
        &__box {
            display: grid;
            height: 32rem;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 5rem;
            justify-content: space-around;
            justify-items: center;
        }
    }
    
    .note {
        text-align: center;        
        background-color: $color-white;
        position: relative;
        cursor: pointer;
        
        &__side {
            width: 25rem;
            height: 32rem;
            transition: all .8s ease;
            position: absolute;
            top: 0;
            left: -12rem;
            backface-visibility: hidden;
            border-radius: $border-radius-small;
            overflow: hidden;
            box-shadow: $box-shadow-small-high;
            
            &--front {
                
            }
            
            &--back {
                transform: rotateY(180deg); 
                width: 25rem;
                height: 100%;
            }
        }
        
        &__name {
            font-size: 2rem;
        }
        
        &__rating {
            font-size: $default-font-size;
            color: $color-primary;
        }
        
        &__img {
            width: 25rem;
            
        }
        
        &__text {
            font-size: $default-font-size;
        }
    }
}
.note.turn .note__side--front {
    transform: rotateY(-180deg);
}

.note.turn .note__side--back {
    transform: rotateY(0);
}

/* -----back to top----- */
.scroll {
    z-index: 9999;
    position: fixed;
    bottom: 25px; 
    right: 50px;
    text-align: center;
    background-color: rgba($color-black, 0.7);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 7px;

    &__link {
        text-decoration: none;
        &:link,
        &:visited {
            color: $color-white;
        }
        
        &:hover,
        &:active {
            color: $color-primary;
        }
    }
}
