.header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/tap-taster.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75%;
        font-size: $default-font-size;
        color: $color-white;
    }
    
    &__text {
        margin-right: 5rem;
    }
    
    &__form {
        margin-left: 5rem;
        background-color: rgba($color-secondary, .5);
        padding: 3rem;
        border-radius: 25px;
        flex: 0 0 40%;
    } 
    
    &__signup {
        // nothing here yet
    }
    
    &__link {
        text-decoration: none;
        &:link,
        &:visited {
            color: $color-white;
        }
        
        &:hover,
        &:active {
            color: $color-primary;
        }
    }
    
}
